html {
  font-size: 10vw;
}

body {
  font-size: 0.32rem;
  margin: 0;
  padding: 0;
}

div.tip {
  font-size: 0.37333rem;
  width: 100%;
  height: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background-color: black;
}
div.tip div {
  display: flex;
  flex-direction: row;
  height: 0.8rem;
  justify-content: flex-start;
  align-items: center;
}
div.tip div a {
  margin: 0.2rem;
  width: 0.266666rem;
  height: 0.266666rem;
  background-image: url(../img/mobile/false.png);
  background-repeat: no-repeat;
  background-size: 0.266666rem 0.266666rem;
  background-position: 0 0;
}
div.tip div i.logo-m {
  margin: 0px;
  padding: 0px;
  width: 0.8rem;
  height: 0.8rem;
  background-image: url(../img/mobile/logo-m.png);
  background-position: no-repeat;
  background-size: 0.8rem 0.8rem;
  background-position: 0 0;
}
div.tip p.open {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.2rem;
  width: 2.13rem;
  background-color: #f63515;
}

div.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 1.2rem;
  justify-content: space-between;
  align-items: center;
  background-color: #112079;
  margin: 0;
  padding: 0;
}
div.header a.navigation {
  width: 0.42666rem;
  height: 0.42666rem;
  margin-left: 0.42rem;
  background-image: url(../img/mobile/menu.png);
  background-repeat: no-repeat;
  background-size: 0.42666rem 0.42666rem;
}
div.header a.navigation:link {
  outline: none;
}
div.header a.search {
  text-decoration: none;
  height: 0.8rem;
  width: 7.2rem;
  color: #ccc;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #ccc;
  padding: 0 0.32rem;
  background-color: #ffffff;
  border-radius: 0.4rem;
}
div.header a.search:focus {
  outline: none;
}
div.header a.search i.search-logo {
  display: block;
  width: 0.53333rem;
  height: 0.4rem;
  margin-left: 0.106666rem;
  padding-right: 0.133333rem;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAeCAMAAABpA6zvAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAzUExURUdwTOo8Puo7Peo7Pek7Peo7Pe0/Qek7PvE+SP9SUuo7Peo7Peo7Pus8P+o7Peo7Pek7PZSxd20AAAAQdFJOUwBV8eG+hyGkEQbGmWs/rthNA0r+AAAA5klEQVQ4y63T0RaDIAgAUEDRUjP//2u3CI/T1vJhvM3uVBAANGx5xwLgiwSZ3TI6uMYANSyuc7AUs03CUvgHRMTEflcZ76FezDGJTE/wTYNI9whhDePhNxAcDVveQWDJbgK6Y8FPQDBH2WdgPlZmYNQvj5D7tP8Ap4+2s8lQX56g4AK34bGPshJ8gbl/wrXoASOUDanlgvVFB3g2T5sGZ2on9xCp23BJ8tusPVzw7O/zhuxtHSIZDYGRo891WUemjeVZgsu4kmY8ju8Ifb2f/i3WV+/gzq0Zgs0xba0eHCSsj4zLR91f1fAfiWsqzlEAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-size: 0.5333rem 0.4rem;
  background-position: 0 0;
  border-right: 0.026rem solid #ccc;
}
div.header a.search i.glass {
  font-size: 0.4rem;
  padding: 0 0.1333rem;
}
div.header button.login {
  color: #ffffff;
  font-size: 0.37rem;
  border: 0;
  background-color: #112079;
}
div.header button.login:focus {
  outline: none;
}

div.swiper {
  width: 100%;
  height: 3.6933rem;
  background-image: url(../img/mobile/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}
div.swiper div.swiper-container {
  width: 9.3333rem;
  border-radius: 0.14rem;
  --swiper-pagination-color:#ffffff;
}
div.swiper div.swiper-container div.swiper-wrapper a.slide1 {
  display: block;
  width: 9.3333rem;
  height: 3.6933rem;
  background-image: url(../img/mobile/wrapper-pic1.jpg);
  background-repeat: no-repeat;
  background-size: 9.3333rem 3.6933rem;
}
div.swiper div.swiper-container div.swiper-wrapper a.slide2 {
  display: block;
  width: 9.3333rem;
  height: 3.6933rem;
  background-image: url(../img/mobile/wrapper-pic2.jpg);
  background-size: 9.3333rem 3.6933rem;
}
div.swiper div.swiper-container div.swiper-wrapper a.slide3 {
  display: block;
  width: 9.3333rem;
  height: 3.6933rem;
  background-image: url(../img/mobile/wrapper-pic3.jpg);
  background-size: 9.3333rem 3.6933rem;
}
div.swiper div.swiper-container div.swiper-wrapper a.slide4 {
  display: block;
  width: 9.3333rem;
  height: 3.6933rem;
  background-image: url(../img/mobile/wrapper-pic4.jpg);
  background-size: 9.3333rem 3.6933rem;
}
div.swiper div.swiper-container .swiper-pagination-bullet {
  width: 0.2666rem;
  height: 0.05333rem;
  border-radius: 0.026666rem;
}

div.venue {
  width: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
div.venue a.venue-left {
  display: block;
  margin: 0;
  padding: 0;
  width: 33.33333%;
  height: 2.6666rem;
  background-image: url(../img/mobile/venue-left.jpg);
  background-size: 3.3334rem 2.6666rem;
  background-repeat: no-repeat;
}
div.venue a.venue-main {
  display: block;
  margin: 0;
  padding: 0;
  width: 33.33333333%;
  height: 2.6666rem;
  background-image: url(../img/mobile/venue-main.gif);
  background-size: 3.3334rem 2.6666rem;
  background-repeat: no-repeat;
}
div.venue a.venue-right {
  display: block;
  margin: 0;
  padding: 0;
  width: 33.6%;
  height: 2.6666rem;
  background-image: url(../img/mobile/venue-right.jpg);
  background-size: 3.4rem 2.6666rem;
  background-repeat: no-repeat;
}

footer {
  z-index: 28;
  width: 100%;
  height: 50px;
  border-top: 1px solid #ccc;
  position: fixed;
  bottom: 0px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
footer a {
  display: block;
  width: 65px;
  height: 50px;
}
footer a img {
  width: 65px;
  height: 50px;
}

/*# sourceMappingURL=jd-mobile.css.map */
