@charset "UTF-8";
@keyframes arrowing {
  0% {
    transform: translateY(-5px);
    opacity: 0.8;
  }
  50% {
    transform: translateY(10px);
    opacity: 1;
  }
  100% {
    transform: translateY(-5px);
    opacity: 0.8;
  }
}
@keyframes rotateRound {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.rotateRound {
  -webkit-animation-name: rotateRound;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

@keyframes scaleDown {
  0% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
  25% {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 0.5);
  }
  50% {
    opacity: 0.8;
    transform: scale3d(1, 1, 1);
  }
  75% {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
@font-face {
  font-family: mikai;
  src: url("../font/wedding.woff");
}
.scaleDown {
  -webkit-animation-name: backInLeft, scaleDown;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
}

html {
  font-size: 10vw;
}

body {
  margin: 0px;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
  overflow: hidden;
  font-family: mikai;
  background-image: url("../img/bg-pic.jpg");
  background-repeat: no-repeat;
  background-size: auto, 100%;
}

.main {
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}
.main div.arrow {
  z-index: 1000;
  position: absolute;
  bottom: 0.53333rem;
  left: 50%;
  margin-left: -0.53333rem;
  -webkit-animation-name: arrowing;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
}
.main div.arrow img {
  width: 1.0667rem;
}
.main #music {
  display: block;
  z-index: 1001;
  position: fixed;
  left: 0.5rem;
  bottom: 0.5rem;
  width: 0.9rem;
  height: 0.9rem;
}

.bg, .swiper-container div.third #bride, .swiper-container div.second #groom, .swiper-container div.first #pic1 {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 12rem;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-container div.first #pic1 {
  background-image: url(../img/pic1.jpg);
  background-position: -1.7333rem;
}
.swiper-container div.first div.wedding {
  z-index: 200;
  position: absolute;
  width: 9.0133rem;
  left: 0.48rem;
  top: 8.72rem;
  font-size: 1.47rem;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}
.swiper-container div.first div.message {
  font-size: 0.587rem;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 13.3333rem;
  width: 100%;
}
.swiper-container div.first div.message div.message-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.swiper-container div.second #groom {
  background-image: url(../img/groom.jpg);
  background-position: -1.0666rem;
}
.swiper-container div.second div.intro {
  display: flex;
  color: #D2691E;
  font-size: 0.427rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
}
.swiper-container div.second div.intro .name {
  display: flex;
  font-size: 0.8rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.swiper-container div.second div.intro .name img {
  width: 0.85rem;
  height: 1.65rem;
}
.swiper-container div.third #bride {
  background-image: url(../img/bride.jpg);
  background-position: -1.0666rem;
}
.swiper-container div.third div.intro {
  display: flex;
  color: #A0FFFF;
  font-size: 0.427rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
}
.swiper-container div.third div.intro .name {
  display: flex;
  font-size: 0.8rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.swiper-container div.third div.intro .name img {
  width: 0.85333rem;
  height: 1.6533rem;
}
.swiper-container div.picSwiper img {
  position: absolute;
  width: 9rem;
  top: 60px;
  left: calc(50% - 4.5rem);
  border: 3px solid #ffffff;
  border-radius: 20px;
  box-shadow: 3px 3px 3px #ccc;
}
.swiper-container div.fourth {
  color: #ffffff;
  font-size: 0.4666rem;
}
.swiper-container div.fourth #invitation {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.2;
}
.swiper-container div.fourth #game {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.swiper-container div.fourth #game div.title {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0.1rem 0;
}
.swiper-container div.fourth #game div.rule {
  margin: 0.1rem 0.4rem;
}
.swiper-container div.fourth #game div.content {
  margin-top: 0.1rem;
  font-size: 0.9333rem;
  font-weight: bolder;
  text-align: center;
}
.swiper-container div.fourth #game div.content div.enroll input {
  height: 0.8rem;
  border-radius: 0.2666rem;
}
.swiper-container div.fourth #game div.vote {
  display: flex;
  width: 100%;
  height: 4rem;
  margin-top: 0.3rem;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.swiper-container div.fourth #game div.vote > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.swiper-container div.fourth #game div.vote > div img {
  width: 0.96rem;
  border-radius: 0.48rem;
  border: 1px solid #ffffff;
  box-shadow: 1px 1px 1px #ccc;
}
.swiper-container div.fourth #game div.vote > div div.progressBar {
  box-shadow: 1px 1px 1px #ccc;
  color: #ffffff;
  width: 5.3333rem;
  height: 0.8rem;
  margin: 0px 0.265rem;
  border: 1px solid #ffffff;
  border-radius: 0.267rem;
  background-color: rgba(255, 255, 255, 0.5);
}
.swiper-container div.fourth #game div.vote > div div.progressBar > div {
  border-radius: 0.267rem 0 0 0.267rem;
  text-align: center;
  width: 50%;
  height: 0.8rem;
}
.swiper-container div.fourth #game div.vote > div div.progressBar #fillGroom {
  background-color: rgba(255, 0, 0, 0.7);
}
.swiper-container div.fourth #game div.vote > div div.progressBar #fillBride {
  background-color: rgba(0, 0, 255, 0.7);
}
.swiper-container div.fourth button {
  color: #ccc;
  height: 0.8rem;
  border-radius: 0.267rem;
  background-color: rgba(255, 20, 147, 0.2);
  box-shadow: 1px 1px 1px #ccc;
}

/*# sourceMappingURL=layout.css.map */
