<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
  <meta name="format-detection" content="telephone=no">
  <meta name="x5-orientation" content="portrait">
  <meta name="screen-orientation" content="portrait">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <title>我们结婚啦！！！</title>
  <meta property="og:title" content="我们结婚啦，快点进来投一票给我！！！">
  <meta property="og:image" content="http://192.168.1.206/img/og-image.png">
  <meta property="og:description" content="敬备喜酌，诚邀光临！快点进来投我一票，送我一祝福！">
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="css/swiper.min.css">
  <link rel="stylesheet" href="css/animate.min.css">
  <link rel="stylesheet" type="text/css" href="css/layout.css">
</head>
<body>
  <div class="main">
    <!-- Swiper -->
    <div id="swiper1" class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide first">
          <div id="pic1" class="ani bg" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0s"></div>
          <div class="ani wedding" swiper-animate-effect="lightSpeedIn" swiper-animate-duration="0.5s" swiper-animate-delay="1s"><div class="ani" swiper-animate-effect="scaleDown">我们结婚啦</div></div>
          <div class="message">
            <div class="message-name">
              <div class="ani groom" swiper-animate-effect="zoomInDown" swiper-animate-duration="1s" swiper-animate-delay="1.2s">新郎: 陈洪新</div>
              <img class="ani" swiper-animate-effect="zoomInUp" swiper-animate-duration="1s" swiper-animate-delay="1.4s" style="width:0.5733rem;height: 0.506rem;margin:0.213rem;" src="img/heart.webp">
              <div class="ani bride" swiper-animate-effect="zoomInDown" swiper-animate-duration="1s" swiper-animate-delay="1.2s">新娘: 梁景娟</div>
            </div>
            <div class="ani message-time" swiper-animate-effect="bounceIn" swiper-animate-duration="1s" swiper-animate-delay="1.8s" style="margin-top:5px;">&lt;2020-9-26&gt;</div>
            <div class="ani wish" swiper-animate-effect="fadeInDownBig" swiper-animate-duration="1s" swiper-animate-delay="2s" style="margin-top: 5px;font-size: 16px;">/ 诚 挚 邀 请 您 参 加 我 们 的 婚 礼 /</div>
          </div>
        </div>

        <div class="swiper-slide second">
          <div id="groom" class="ani bg" swiper-animate-effect="rotateInDownLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s"></div>
          
          <div class="ani intro" swiper-animate-effect="slideInDown" swiper-animate-duration="2s" swiper-animate-delay="0.8s">
            <img class="ani" swiper-animate-effect="bounceInDown" swiper-animate-duration="1.5s" swiper-animate-delay="2s" src="img/sweep.webp">
            <div class="name"><img class="ani" swiper-animate-effect="rotateInDownLeft" swiper-animate-duration="1.5s" swiper-animate-delay="4.3s" src="img/flower-left.webp"><div class="ani" swiper-animate-effect="zoomInUp" swiper-animate-duration="0.5s" swiper-animate-delay="3.5s" style="font-size:20px;margin-right: 8px;"> 新郎: </div> <div class="ani" swiper-animate-effect="lightSpeedIn" swiper-animate-duration="0.5s" swiper-animate-delay="3.8s"><div class="ani" swiper-animate-effect="scaleDown">陈洪新</div></div><img class="ani" swiper-animate-effect="rotateInDownRight" swiper-animate-duration="1.5s" swiper-animate-delay="4.3s" src="img/flower-right.webp"></div>
            <div class="ani" swiper-animate-effect="fadeIn" swiper-animate-duration="2.5s" swiper-animate-delay="5.6s">执子之手，与子偕老</div>
          </div>
          
          
        </div>

        <div class="swiper-slide third">
          <div id="bride" class="ani bg" swiper-animate-effect="rotateInDownLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s"></div>
          <div class="ani intro" swiper-animate-effect="slideInDown" swiper-animate-duration="2s" swiper-animate-delay="0.8s">
            <img class="ani" swiper-animate-effect="bounceInDown" swiper-animate-duration="1.5s" swiper-animate-delay="2s" src="img/sweep.webp">
            <div class="name"><img class="ani" swiper-animate-effect="rotateInDownLeft" swiper-animate-duration="1.5s" swiper-animate-delay="4.3s" src="img/flower-left.webp"><div class="ani" swiper-animate-effect="zoomInUp" swiper-animate-duration="0.5s" swiper-animate-delay="3.5s" style="font-size:20px;margin-right: 8px;"> 新娘: </div><div class="ani" swiper-animate-effect="lightSpeedIn" swiper-animate-duration="0.5s" swiper-animate-delay="3.8s"><div class="ani" swiper-animate-effect="scaleDown"> 梁景娟 </div></div><img class="ani" swiper-animate-effect="rotateInDownRight" swiper-animate-duration="1.5s" swiper-animate-delay="4.3s" src="img/flower-right.webp"></div>
            <div class="ani" swiper-animate-effect="fadeIn" swiper-animate-duration="2.5s" swiper-animate-delay="5.6s">死生契阔，与子相悦</div>
          </div>
        </div>
        <!-- page image swiper -->
        <div class="swiper-slide picSwiper">
          <div class="swiper-container" id="swiper2">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img data-src="img/pic1.jpg" class="swiper-lazy">
                <div class="swiper-lazy-preloader"></div>
              </div>
              <div class="swiper-slide">
                <img data-src="img/pic2.jpg" class="swiper-lazy">
                <div class="swiper-lazy-preloader"></div>
              </div>
              <div class="swiper-slide">
                <img data-src="img/pic3.jpg" class="swiper-lazy">
                <div class="swiper-lazy-preloader"></div>
              </div>
              <div class="swiper-slide">
                <img data-src="img/pic4.jpg" class="swiper-lazy">
                <div class="swiper-lazy-preloader"></div>
              </div>
              <div class="swiper-slide">
                <img data-src="img/pic5.jpg" class="swiper-lazy">
                <div class="swiper-lazy-preloader"></div>
              </div>
              <div class="swiper-slide">
                <img data-src="img/pic6.jpg" class="swiper-lazy">
                <div class="swiper-lazy-preloader"></div>
              </div>
              <div class="swiper-slide">
                <img data-src="img/pic7.jpg" class="swiper-lazy">
                <div class="swiper-lazy-preloader"></div>
              </div>              <div class="swiper-slide">
                <img data-src="img/pic8.jpg" class="swiper-lazy">
                <div class="swiper-lazy-preloader"></div>
              </div>              <div class="swiper-slide">
                <img data-src="img/pic9.jpg" class="swiper-lazy">
                <div class="swiper-lazy-preloader"></div>
              </div>              <div class="swiper-slide">
                <img data-src="img/pic10.jpg" class="swiper-lazy">
                <div class="swiper-lazy-preloader"></div>
              </div>              <div class="swiper-slide">
                <img data-src="img/pic11.jpg" class="swiper-lazy">
                <div class="swiper-lazy-preloader"></div>
              </div>              <div class="swiper-slide">
                <img data-src="img/pic12.jpg" class="swiper-lazy">
                <div class="swiper-lazy-preloader"></div>
              <div class="swiper-slide">
                <img data-src="img/pic13.jpg" class="swiper-lazy">
                <div class="swiper-lazy-preloader"></div>
              </div>              <div class="swiper-slide">
                <img data-src="img/pic14.jpg" class="swiper-lazy">
                <div class="swiper-lazy-preloader"></div>
              </div>              </div>              <div class="swiper-slide">
                <img data-src="img/pic999.jpg" class="swiper-lazy">
                <div class="swiper-lazy-preloader"></div>
              </div>

            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>


        <div class="swiper-slide fourth">
          <img id="invitation" class="ani bg" swiper-animate-effect="rotateInDownLeft" swiper-animate-duration="0.7s" swiper-animate-delay="0.3s" src="img/happy.jpg"></img>
          <div id="game">
            <div class="ani title" swiper-animate-effect="rotateInDownLeft" swiper-animate-duration="0.5s" swiper-animate-delay="1s">&lt;几热闹&gt;</div>
            <div class="ani rule" swiper-animate-effect="rotateInDownRight" swiper-animate-duration="0.5s" swiper-animate-delay="1s">规则:在婚礼开始前，通过邀请亲朋好友助力自己。最后，票数多的一方可以向票数低的一方提出<span>三个</span>惩罚的要求！</div>
            <div class="ani content" swiper-animate-effect="flipInY" swiper-animate-duration="1s" swiper-animate-delay="1.5s">
              <div class="ani" swiper-animate-effect="scaleDown">敬备喜酌 诚邀光临</div>
              <div>联系:13432879705、</div>
              <div>地址:遂城第八小旁克山小区二横7号</div>
              <div class="enroll">
                <label name="xinming">姓名:</label> <input id="enrollName" type="text" name="xinming" placeholder="富贵"><br>
                <label name="tel">电话:</label> <input id="enrollTel" type="telephone" name="tel" placeholder="18888888888"><br>
                <input id="btnSubmit" type="submit" value="爽快应邀">
              </div>
            </div>
            
            <div class="vote">
              <div>
                <div class="ani" swiper-animate-effect="flipInY" swiper-animate-duration="1.5s" swiper-animate-delay="3s"><img src="img/headGroom.jpg"></div>
                <div class="ani progressBar" swiper-animate-effect="flipInY" swiper-animate-duration="1.5s" swiper-animate-delay="3s"><div id="fillGroom">3 票</div></div>
                <button id="btnGroom" class="ani" swiper-animate-effect="flipInY" swiper-animate-duration="1.5s" swiper-animate-delay="3s">助力新郎</button>
              </div>
              <div>
                <div class="ani" swiper-animate-effect="flipInY" swiper-animate-duration="1.5s" swiper-animate-delay="3s"><img src="img/headBride.jpg"></div>
                <div class="ani progressBar" swiper-animate-effect="flipInY" swiper-animate-duration="1.5s" swiper-animate-delay="3s"><div id="fillBride">3 票</div></div>
                <button id="btnBride" class="ani" swiper-animate-effect="flipInY" swiper-animate-duration="1.5s" swiper-animate-delay="3s">助力新娘</button>
              </div>
            </div>

          </div>
      </div>
 <!--      <div class="swiper-slide">
        <div>device-width</div>
      </div> -->
      </div>
    </div>
    <audio id="xue" src="audio/xue.mp3" autoplay="autoplay" loop="loop">
      
    </audio>
    <div class="arrow">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAkCAMAAADip6m2AAAAolBMVEUAAAAAAAAAAAAAAAAAAAABAQEAAAAAAAAHBwcAAAD////9/f37+/vt7e25ubn39/cKCgrz8/Pe3t7c3Nz+/v729vbW1tZra2tKSkoAAABpaWlgYGD9/f38/Pz5+fn5+fn39/fz8/Px8fHu7u7q6urm5ubj4+Pd3d3y8vLX19fJycnAwMC4uLisrKyhoaGVlZWGhoajo6MpKSkxMTGAgID///9oDYyzAAAANXRSTlMAAwcLFR0SGRAO+efJbSOcIqBDQvLNbTEpGxEQ9e3h29XDvLOsnJOJiIFpYVlNRkE7MiwfDLl52bwAAAGFSURBVEjH3ZXZboMwFERbHAMhC6EFQtrs+777/3+t98bGjmwqy32plHmLPYfMiYTy9nJ5F/kb693j+O4h7Y567SZjzbYHuDv72WCQxgfSjixpReyRqEWAdmK/YyaTfAHtpivjIo6TUReTZYxxcZzupju/XufP4g660aYD2USmuF13sKeP7Ae6uF13fKZBDRLQ81gTt+rOCmD9MPSBLmaauEV3hWidQOqIr57FLbrpDllCPAghSO9SU7xad3QCNiRQgwAeAn0a6eLVutOC4mRk+SCcToupIW7qsmWnByw25B3Svc6SaeKGbn9LA8UqGsW3fVMc2VJ3eJS6apcUPw5LcVmAq1J30qWBL1mN9gPanZTiUBE3pe5C6cpo4gtRjXkJjtf8cbnSlTHEcz5yTTwBh00UOVToVogfGvibhQq+pCyr0q0Wz1h6kTDsyZObPvn36bckh6qA8YE1eIUEa6GxyyeKEzhC1MLy6byL3yNP4BNn7TSWVRffHYHaI7qq7PB3qMr/mh8s20b2bOZlXQAAAABJRU5ErkJggg==">
    </div>
    <img id="music" class="rotateRound" src='data:img/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABICAYAAABV7bNHAAAABGdBTUEAALGPC/xhBQAAEUNJREFU
eAHtXAdwVtUSTn5CCCGUhITeQu819C48en2IwIPMEAQGkQFR1LGOY2FUiopKdQBFQIEoCASBR9Hh
0XsngJAQHj0QSiCh/O/77mTvnNzyt9Q3451JTtuz5+zePXt295z7+/vl4uN0Ov1btWpV6smTJ6Uc
Dkfos2fPwjB8ceQD0RaIPP/4pPv7+6ejPR35FLQnI387ICDg+u7du6+jzalB5cI//5weo1OnTiH3
7t2riXEqgbAKYEShrIwJHGnAkQQciUWLFo3fvn37/azgc9c3RxgEpgQ8fPiw5tOnT+uCmMruJpGV
djAsoUCBAicLFy5MZj3JCi6rvtnKoMGDBwdevHixEZZDFAYLthowB+tSsRT3V6lS5cjKlSu5NLPl
KZAdWD744ANHampqs9u3b/eDxFQDzoLZgddLHAUprXfu3GlUoUIF55gxY65CorKsq7IsQS1btqwA
pdsFxIR7SVBOg9+EUt+yZ88e6iufH58lCMupQEhISGfoma4YPceWU7Vq1UIgmb4smWAs9foVK1Ys
3KZNm8STJ0/6JE0+SRCUcIkHDx70wQRKe/Nq+vbtWwk7WhpE/5on/WJjY0dXrly59uPHj9Og206f
OHHiPPqe3bFjxw1P+gsMdNO1IkWKrEPfO1Lnaeo1g5o1a1YJyPvjT2wWl2PVqlWraExMTHMsxRbY
lsMhcU/ee++9WZs2bfqvy45o3L9//zQkpjlC3909ePDgvm+//XbH2bNn77nDk9FOKVxz4MCBRA/h
NTDT4K46R0VF1UJ7LyhDhys4tnXv3r38iy++2C0yMrI2tuJMS3np0qXLvvjii4PucIBB013BkNmQ
qgPffffd9p07d7qVKszjGfDFAe8ZV3jVNo8ZBAloCGX8D7WzVR5LIhgS0rNx48Yt0Z6JkWlpaalY
Hn+8+eabW6z6GutUBq1evTq2Xr161aFTqgcFBRUxwDohSUexm64+c+aMW4mC8t4M5X3UgMOy6BGD
KDmQmj6WGDIqsc7933777dY9e/bsUahQIVVpO5OSks5t3bp1z8KFC4/dv3//qSs8apvKIMxhirSN
Hj26bv/+/TuXLVs2UuqY4gU8gHTGzp492y3xkKZ1nkiSWwZR5wDZIFfLqmTJkoFz5swZXrVq1Xrq
hP/6668TM2bMWIu3dVOt9zRvxyDp369fv8rDhw/vhJ2O4+rSeurUqf2vv/766qtXrz4SWGPK5Qaa
Yt3pJJcM4m6FXScayG0VMpZS6Oeffz4qLCysrEzi7t27N77//vs1+Dstdb6k7hgkOAcNGlRlwoQJ
w7AJlJQ6SGryW2+9NX/Xrl2uXk46+ixxtbvpXBfEktLO4VaOsi1zBg4cWOWbb76ZpDIHynJrnz59
pmeVOTIPT1KYAxcx35lHjx7dK/Cw0cI+++yz8e3atYuQOos0kDSSVos2rcqWQQkJCR1d2TndunUr
B2U7BgozhJi4o/z4449LJ06cGIdt2GM9Yzcxb+tv3ryZNmrUqBXz5s1bhM1EW1rBwcHFPv300/Ed
OnSwtddII2m1G8+SQXQfQHATu04NGzYs8e67747GbqCFLh49enT3448/nv3ll18esuuTW/ULFiw4
MXXq1AUwLjUm4QUWRXkc1IUtk0grabaao4lBdDwzfCsreL9y5coFQfGO5tshALfuN954Y87atWsT
LTvkQeVvv/2WAKbMB5Mecngy6f3334/hZmI3HdJM2o3tpoq4uLimALJ1PL/++usRoaGhZYiIy2rm
zJkLPTHSjAPndJkvDFKtM6lYsWLheLEDXIwbnkF7JpBMDIKyCsSapIFn+UyePLkZfaOMRucPP/yw
jArSCEybiJY0lqDLXdLYL7vL69evvwS7aJXgrV+/fouXX365oZSNKWknD9T6TAxisAu2QZAKIHla
yNhO+0kZseHt8IVMBhmkqyDe3oRPPvlk8qpVq8YKfF6l2GWPwB3ZJ+PDbnoeFnlxKaspaScP1Dqd
QQyTgoOMBFo+H374YV8x8WEb3YI7sckIGBgY6ICSjC5durQWZg0PD7dVjMa+OVl+7bXXVmPOmj2E
OQbDPuptNx55QF5Iu84gxpBRqboIAuPXu3fviuB6c6lYtGhRLGI0j6Us6dy5c59HyLOulH/99df1
ks/LlCbAV199tVzmgAhDY7guulEp9RlpcAYvtKLOIChcnTBDB7+hQ4e2lzo4g4ehe+KlLCmWVCds
/y2kvG3bto1QigeknNcpnF2YOwmnOA+4GY6XXnqps92cVF5oDIJIhWD9acvC2IkRPXBcV2xwOLcY
YWrXrl2sS5cuuqd/+PDhXfCFNhvh8roMQ1afe4MGDaLq1q2rmSrGeZEX5AnrNQZhfXJ5WT7gdGvs
StqavHLlyvktW7ZcMQK+8847vcVovHHjRtK4ceN+McLkhzKW/EXSwLmQpvHjx3ewm5fwRJYYo4Sm
h9t1ixYtWksD7IQdkpeUYdQ6derQdtKe+fPnr4bR5VP8V3DkZIqddZvgh15tIHmLVOOJA+KEJelv
aWY/99xzZcVipjuBHeq4EdHIkSO7o06zd06fPn2Ib8kIk5/Ky5cvjxc3hN4/BMBSWZMn5I2DZ+XI
aD6VkZD27dtXk7oLFy6cM0oGTwwqVapUPQPm2fTp0+MEPr+m6enpzxITE8/K/OB015K8mpIn5A39
rlJqg5rH0tEZxBMFtY157G71wGktVIC1fRHK+bYRJj+Wjxw5ou/C2HktGcR5kzdQM45QOyLKly9f
VdqwbZsYxDi1tCMyZ7KqpS2/pRs3btSD9lgB1excIvLGAcsxzIoAhFrDJLZM/WMMm2L9BmCJye7n
hE92zApPfqzDy0wGTfc4NzAnqFGjRpZCQt5w+7b0SxDWKCLEpaSkmA7coNwicKtC2/6xJSYfO3Ys
ReA9SemWIEzSChZtA7gkZegCQD+kwuq9ilDrMYRxd3uCx1cYRBLvMQzC/rDzSpJpFriKB0CM6MGb
2iIiIjRDiQ0wve8bAbBF6roL8d+7xnZX5REjRtTA7jegRIkSmXw1ThgXD/hXA4ZaW1c4stpGBiE+
pKGBKilhhY+8CYC2DrRqRGddgsCAB0YYEKe3I0jvsfTAcYwaNmzYEOBzGQoxMs84viflV155pQnh
rCKdZJDgwLG05S5O3nCJWDIIE9QlCAwySRDsIz0sgiXoEYOg1MNfeOGF5zGmS+bIxLOSkjmQ1OGC
w8gkTFmnCZJryQP0DRRLWvDoKfSL3obtzrQGceakb+nx8fFJekcXmbFjx3YSveUCLFuacEanH0Mh
/GJaQqDpqScDUYJ4qK9Lg3TCyUSa5HG9zSSC6htR89LHKoXja2tzWMFnpQ7LRg/dQFoeGnGpNKm0
GuDSA2DopWOtmRiENaozCCJoaiciTxkjg2JS2q4hZS9Sr307nIvpKgI6MtU4lkqTSqsKR97QDqIE
mZ5r167pOxMOBkNNAD5UYDfUFaM33cV38qZPqVKlygk8fMQbkpdUpUmlVdqZkjfUM5YK9vjx4zpS
xJn1LV1F4G3+/PnzugXrTV/cDjviDXxkZGQwDFnNAIaueYwbJaYLWypNOJG9boOfd7QdVgaSH/0q
ImdHiGNRBs5skHhcjVDIdh4VedwBgIRnP2/6DBgwoI7Aw/BMooMqZaakhTQxTxrBIJMhzDbyhktM
341YqT4Ifl2SMq616I6r1Hmb0l1ZsWLFKvTzVKc4CW90c9yNi/P4xgIDx/SE5CVVaVFplHZJyRsH
fBE78fLD9n1OgHGLo7rks5IiTr0fyn0+ruuaxF7Fy3bCEV6td5fnbRM4oLqP+NNPPx0y9lFpUWk0
wpE3joxvH/QdSwXCiakeN0HcuZ6d16v28SSP2PDZXr16zUAg/RdcrjpLxxFv6ylTllnPdsJ5gk+F
weWJrhKCIS6jj0gaSIv0UWmUOqbAkUbecJt3wnOnoWdaQowOTpo0KQVWc3Gs2WI4dKuJay0+KVp1
cOapF3A0vBNZ/mXLA/+tNIPxgmzJkiWbJS8paSAtLMP+SbGLgML0SSJvxFpOFARqirfqhAI7KHU4
H2sj+fyW8mICDg+iRXouXboUHxsbe8E4T5UG0kYajTAZZY0nGoOwJcbbAPlBSVIHaEh4xQ47RGU7
2LysxyWKf2Lr1i5VYGdKQ7jkF+N8OHflmiA3AFv9JjzRGIQraPfB+QQjQpb//PPPa7hreFLacIGy
j+TzS4q7Sq0RftGX1rJly1ZaXb1T5877k6TNigbygjxhm8YgZvhJEVOrB3rn31JfpkyZSHwoois5
qc+rdNq0aV0hGYNkfB5azpo167CUJeWcOXcpg6YtkjemKi90BvF7KwCafBZ25jUS3kMWREOGDOnF
iKCU8yKFonUsXrx4SOfOnXvI+NevX0/EFZ01UpaUc+WcpUxaSJOUDWlqBi+0ap1IiNQTWI62axI7
zhqubfZiMAt3kQcYEOdqEWd0Q3HfR79QgWsrp6Kjo+ci/Guy1DlXCcCRBtJiN1nygLyQdp1BrODH
aFh/2t0+AZAUxz4pv//++wYpw9hqg7WfJ7sarwGqp7mHDh3aiSOohbdu3UqX+UnKOXKuUiYNpEXK
akrayQO1roBagFP4lB+j4ami1ksenE1s27ZtmHjKCHbXRLDxIhxbS39O+mV3SinB2H6Im4dv3rx5
46uvvroR27VpmGHDhlWPiYn5FwjXBAGM2Y9IY5wJMKMCuuc/wJdp6ZlCn7zIiBti0egTboUIYZYC
P//883i5JMVLnFOmTJlltWtY9c+tutatW4fjpHeiHF0hpJEAPTQbL9QukngT9wyWgP5MnM4kQZw8
pMQJX+YW3kh9K2JgATv37dt3Cg5fYyi/IJjuBXH1pSliPZdyW5Ks5sc6Sg6W1lhhDgJid3CTY56r
TxNAx1rcZzQtPRODOMDly5fv8twdS60sy8YnOTk5nddIOnbs2BRKDbgDCuKNNYFUpcK2yCSixr45
XabO4bLCnLQwMZXyRx99tGDv3r037cbG0jqE9ky6R2AtGcRGfsaIWG4kmBQiwGqK4Nc9mPNncMBf
h5LEdQ4nsE7z5s1DeLSLOI6dCa+iybY8t3Lcsh8If6yb6BxKDpmD+Vy2Gwgv+BoU8zq7TzZNOkhF
hMHcfsxSo0aNoghLjBSdxP4MVUBPxfHWu4ovp/I0AmnnyFbOcahzoJAXu/ki0e3HLC4ZxIHg6bv9
HIqKG1eCB6vmPvtizV/A14DreD+Q5ex+6FvRfVAtZI7B3Qr3oVe6UMgMZ2T9cyghCOfnbj+oIyx2
gHY9evToKetf+tPvgeW6E0owHjohS0sPuP0ZsqBXrjie2lDUN7RzMI8dMrZdCgZlzwd1MgCvumAC
+kVNqTemkKLiUJT9sfQaGtt4SwQnDCfgL53bsGED1Nh5zSE0whnLjCEzTMpIIINdEs9R4eg+0EK2
MwJVWDA5ez/JFOSUJOQ9+qgXNkVFmP5d8Zbroo/lUmYEEfetr2NXvI38I5gKmisDX6gQmBDEoxme
PiBrd57mZKSBzrQL30qmry0rFHLmo14ZhToJ+f74szvPFlAt5bdaOI+Pwk2upoxMZmr0scBIIINd
jOfYhSwsUNMNydnPwmVQ7m7YQr36YQFsp/78QhHmQ42aNWtWh5tQEaJeUHC6SrG0H/P0gQF2xpAZ
JnURCTSh4laeaz8sIKPzM0Z+qQd7p4nUeZtCp4TCI4+AiVCMV1AgYZpxBwlJ43EwTzx5gMkzOm9x
CzyNQHyI8wd+EcbOxRBQy9RSN1hC2lRCeVfAG+6CZkvfzaZbblRny4+bZAp3+DJrHOol0cnDm/oD
W6dlqMQXvL724Rw4F86Jc/MVj/TLsgQJIqb8GI3fW0E/RKEYrLblQj5HfmApWxkkTIAS//snuoQZ
7lIw6+8feXPHJGmHC+CABR0Bpf5/8zOB/wMNogqBb1xKcgAAAABJRU5ErkJggg=='/>
  </div>

  
  <!-- Swiper JS -->
  <script src="js/swiper.min.js"></script>
  <script src="js/swiper.animate.min.js"></script>
  <script type="text/javascript" src="http://pv.sohu.com/cityjson?ie=utf-8"></script>

  <!-- Initialize Swiper -->
  <script>
    // var returnCitySN = {"cip": "222.73.167.177", "cid": "CN", "cname": "CHINA"};
    //vote
    let fillBride = document.querySelector("#fillBride");
    let fillGroom = document.querySelector("#fillGroom");
    let btnBride = document.querySelector("#btnBride");
    let btnGroom = document.querySelector("#btnGroom");
    let btnMusic = document.querySelector("#music");
    let btnSubmit = document.querySelector("#btnSubmit");
    let voteDate = [];
    let [sumTip,tipBride,tipGroom] = [0,0,0];
    //fetch获取信息
    fetch('/getVoteDate/voteDate.json')
    .then(function(response){
      return response.json();
    })
    .then(function(myjson){
      console.log(myjson);
      voteDate = myjson;
      sumTip = voteDate[0].num + voteDate[1].num;
      tipGroom = voteDate[0].num;
      tipBride = voteDate[1].num;
      drawProgress(3);
      isVoted(returnCitySN.cip);
      var mySwiper = new Swiper('#swiper1',{
        direction:'vertical',
        loop:true,
        on:{
          init: function(){
            swiperAnimateCache(this); //隐藏动画元素 
            this.emit('slideChangeTransitionEnd');//在初始化时触发一次slideChangeTransitionEnd事件
          }, 
          slideChangeTransitionEnd: function(){ 
            swiperAnimate(this); //每个slide切换结束时运行当前slide动画
            // this.slides.eq(this.previousIndex).find('.ani').css("display","none");
            // this.slides.eq(this.activeIndex).find('.ani').css("display","absolute");//动画只展示一次\

          },
        }
  });
      var swiper2 = new Swiper("#swiper2",{
        direction:"horizontal",
        loop:true,
        autoHeight:true,
        autoplay:{
          delay:5000,
          disableOnInteraction:false,
        },
        lazy:{
          loadPrevNext:true,
        },   
      });
    })
    // let voteDate = [{
    //   "name":"新郎",
    //   "num":4,
    //   "IP":['192.168.1.11','192.168.1.11']
    // },{
    //   "name":"新娘",
    //   "num":16,
    //   "IP":['192.168.1.11','192.168.1.11','192.168.1.11']
    //   }];

    



    function isVoted(ip){
      for(let arr of voteDate){
        console.log(arr.IP);
        if(!arr['IP'].every(function(value,index,arr){return value !== ip})) {
            // alert(`你已经给${arr.name}投过票了`);
            if (arr.name =="新娘") {
              btnGroom.setAttribute("disabled",true);
              btnBride.setAttribute("disabled",true);
              btnBride.setAttribute("style","background-color:green;");
            }else{
              btnGroom.setAttribute("disabled",true);
              btnBride.setAttribute("disabled",true);
              btnGroom.setAttribute("style","background-color:green;");
            }
          }
      }
    }

    function drawProgress(sign) {
      if(sign ===0){
        fillGroom.setAttribute('style',`width:${tipGroom/sumTip*100}%;background-color:green;`);
        fillGroom.innerHTML = tipGroom + "票";
        
        btnGroom.setAttribute("disabled",true);
        btnBride.setAttribute("disabled",true);
        btnGroom.setAttribute("style","background-color:green;");
      }else if(sign === 1){
        fillBride.setAttribute("style","background-color:green;");
        fillBride.setAttribute('style',`width:${tipBride/sumTip*100}%;background-color:green;`);
        fillBride.innerHTML = tipBride + "票";
        btnGroom.setAttribute("disabled",true);
        btnBride.setAttribute("disabled",true);
        btnBride.setAttribute("style","background-color:green;");

      }else {
        fillBride.setAttribute('style',`width:${tipBride/sumTip*100}%;`);
        fillBride.innerHTML = tipBride + "票";
        fillGroom.setAttribute('style',`width:${tipGroom/sumTip*100}%;`);
        fillGroom.innerHTML = tipGroom + "票";
      }
      
    }

    function vote(e,sign) {
      
      //重绘
      sign === 0 ? tipGroom++ : tipBride++;
      voteDate[sign]["IP"].push(returnCitySN.cip);
      drawProgress(sign);
      fetch(`/getVoteDate/${sign}:${returnCitySN.cip}`)
      .then(function(response){
        console.log(response);
        if(response.status == 200) alert("投票成功！");
      })
      // if (sign === 0 ){
      //   tipGroom ++;
      // }else {
      //   tipBride ++;
      // }
    }
    btnGroom.addEventListener("click",function(e){vote(e,0);});
    btnBride.addEventListener("click",function(e){vote(e,1);});

    //music control
    btnMusic.addEventListener("click",(event)=>{
      let music = document.querySelector("#xue");
      if (music.paused) {
        music.play();
        event.target.classList.add("rotateRound");
      }else{
        music.pause();
        event.target.classList.remove("rotateRound");
      }
    });

    btnSubmit.addEventListener("click",(event)=>{
      let enrollName = document.querySelector("#enrollName");
      let enrollTel = document.querySelector("#enrollTel");
      if (enrollName.value == "" || enrollTel.value == "") {
        alert("请填写姓名与电话");
        return;
      }
      //fetch
      fetch(`/enroll/${enrollName.value}:${enrollTel.value}`)
      .then(function(response){
        if(response.status == 200) {
          alert("登记成功！");
          enrollName.value = "";
          enrollTel.value = "";
          btnSubmit.setAttribute("disabled",true);
        }
      })
      console.log(enrollName.value,enrollTel.value);
    })
  </script>
</body>
</html>
