$nav-color:#999999;
$deep-red:#c81623;
$red:#e1251b;
$white:#ffffff;
$page-width:990px;
html {
	font-size: 37.5px;
}
body {
	margin:0;
	padding:0;
}
section {
	background-color:#e6e6e6;
}
a {
	text-decoration: none;
	color:$nav-color;
}
//导航栏样式
div.shortcut {
	font-size: 0.32rem;
	height:30px;
	min-width:$page-width;
	margin:0;
	padding:0;
	background-color: #e3e4e5;
	border-bottom:1px solid #ddd;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	i {
		font-size: .02rem;
		height: 30px;
		display:flex;
		justify-content: center;
		align-items:center;

	}
	a {
		display:flex;
		justify-content: center;
		align-items:center;
		height:30px;
		margin:0;
		padding:0;

		&:hover {
			color:$red;
		}
	}


	div.position{
		margin-right: 6rem;
		position:relative;
		a {
			// position:relative;
		}
		&:hover {
			background-color:$white;
			&>a {color:$red;}
			div.dropdown {
				display:flex;
			}
		}
	}

	div.dropdown {
		position:absolute;
		z-index:100;
		margin:0px;
		padding:10px;
		width:250px;
		display:none;   //here is nav dropdown switch 
		flex-direction: column;
		background-color:#ffffff;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		box-shadow: 1px 1px 1px #ccc;
		div.area {
			display: flex;
			flex-direction:row;
			flex-wrap:wrap;
			justify-content:flex-start;
			border-bottom: 1px dotted #eeeeee;
			a {
				display: block;
				width:50px;
				height:25px;
				&:hover {
					color:$red;
				}
			}
		}
		div.area-mini {
			p {
				color:$nav-color;
			}
			div.area-mini-items {
				display:flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-around;
				border-bottom: 1px dotted #eeeeee;
			}
			
		}
		div.area-mini-other {
			@extend .area-mini;
			border:0;
			div.area-mini-items {
				justify-content: flex-start;
				a {
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					width:120px;
					margin-left: 5px;
					pading:0px;
				}
			}
		}
	}

}
div.navigation {

	display:flex;
	flex-direction: row;
	justify-content: flex-end;
	div.login {
		margin-right:20px;
		~ div {

			padding:0px 10px;
		}
	}
	span {
		margin:0px;
		padding:0px;
		display: flex;
		align-items:center;
		font-size: 10px;
		color: #ccc;

	}
	a:hover {
		color:#ff0000;
	}
	div.item {

		& > a {
			position:relative;
			// background-color:#ff0000;
		}
		div.dropdown {
			// display: none;
			flex-wrap: wrap;
			justify-content:flex-start;
			position:absolute;

			div.area {
				margin-top: 10px;
				display: flex;
				flex-wrap: wrap;
				justify-content:flex-start;
				a {
					display: block;
					width: 100px;
					margin-right: 20px;
				}
			}
		}

		&:hover {
			a {
				background-color:#ffffff;
			}
			div.dropdown {
				display: flex;
			}
		}
		//导航栏 -> 	企业采购 样式
		&.purchase {
			div.dropdown {
				width:120px;
				div.area {
					justify-content: center;
					a {
					display: block;
					margin: 0px;
					width:60px;
				}
				}
				
			}
		}
		//导航栏 -> 客户服务 样式
		&.server {
			@extend .purchase;
			position:relative;
			div.dropdown{
				right:10px;
				div.area{
					margin:0;
					padding:0;
				}
			}
		}
	}

}

//header样式

div#header {
	min-width: 990px;
	height: 140px;
	display:flex;
	// background-color:#ccc;
	margin:0;
	padding:0;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	div.logo {
		display:block;
		overflow:hidden;
		width:190px;
		height:120px;
		//设置背景
		background-image: url(../img/logo.png);   //注意相对位置是从css文件开始的，既是cwd是css文件夹
		background-position:0px 0px;    //移动背景图位置
		background-repeat:no-repeat;
		background-size:190px 160px;  //缩小背景图片
	}
	div.header {
		font-size: 0.32rem;
		display: flex;
		flex-direction:column;
		justify-content:flex-end;
		// align-items:center;
		margin-left: 15px;
		margin-top:15px;
		.first {
			display: flex;
			flex-direction:row;
			.search {
				width: 450px;
				input {
					position:relative;
					left:2px;
					width:300px;
					height:28px;
					padding:2px 44px 2px 16px;
					border:2px solid $red;
					border-radius:0;
					&:focus {
						outline:none;
					}
				}
				button {
					position:absolute;
					width:60px;
					height:36px;
					border-radius:0;
					border:2px solid $red;
					color:$white;
					background-color:$red;
					transition:background .2s ease;

					i {
						font-size: 0.5333rem;
					}
					&:focus {
						outline:none;
					}
					&:hover {
						background-color:$deep-red;
					}
				}
				.search-nav {
					margin-top: 5px;
					a {
						padding-right:4px;

						&:hover {
							color:$red;
						}
					}
					
				}
				
			}
			.shopping-cart button{
				font-family: Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,sans-serif;
				height:34px;
				border-radius:0;
				padding:0 10px;
				background-color:$white;
				color:$deep-red;
				border:1px solid #eeeeee;
				i {
					font-size: 0.5333rem;
					padding-right:5px;
				}
				&:hover {
					border:1px solid $red;
				}
			}
			
		}
		.nav {
			margin:25px 0 0 0;
			font-size:0.4rem;
			a {
				padding-right: 15px;
				color:black;
			}
			a:hover {
				color:$red;
			}
		}
	}
}

div#search {
	min-width:990px;
	z-index: 100;
	width:100%;
	height:50px;
	position:fixed;
	display: none;  //切换 flex
	flex-direction:row;
	justify-content:center;
	align-items:center;
	background-color:white;
	border-bottom:2px solid $deep-red;
	margin:0;
	padding:0;
	left:0px;
	top:0px;
	div.logo-fix {
		display:block;
		overflow:hidden;
		width:125px;
		height:40px;
		background-image:url(../img/logo.png);
		background-repeat:no-repeat;
		background-size: 190px 160px;
		background-position: 0 -120px;
	}
	div.search {
		display:flex;
		flex-direction:row;
		justify-content: flex-start;
		align-items:center;
		width: 450px;
		position:relative;
		margin-left: 60px;
		input {
			left:2px;
			width:300px;
			height:28px;

			border:2px solid $red;
			border-radius:0;
			&:focus {
				outline:none;
			}
		}
		button.sublime {
			position:absolute;
			margin-left: 304px;
			width:60px;
			height:34px;
			border-radius:0;
			border:2px solid $red;
			color:$white;
			background-color:$red;
			transition:background .2s ease;

			i {
				font-size: 0.5333rem;
			}
			&:focus {
				outline:none;
			}
			&:hover {
				background-color:$deep-red;
			}
		}

		button.cart {
			position:absolute;
			margin-left:380px;
			font-family: Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,sans-serif;
			height:34px;
			border-radius:0;
			background-color:$white;
			color:$deep-red;
			border:1px solid #eeeeee;
			i {
				font-size: 0.5333rem;

			}
			&:hover {
				border:1px solid $red;
			}
		}
	}

}



//主索引行

div.master-index {
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:flex-start;
	background-color:#e6e6e6;
	margin-bottom: 30px;
	min-width: 990px;

	div.mi-col1 {
		min-width:190px;
		height:480px;
		margin-top:10px;
		margin-right:10px;
		background-color:#fff;
	}
	div.mi-col2 {
		min-width:590px;
		height:480px;
		margin-top:10px;
		background-color:#fff;
	}
	div.mi-col3 {
		min-width:190px;
		height:480px;
		margin-left:10px;
		margin-top:10px;

		background-color:#fff;
	}

}


//seckill 秒杀

div.seckill {
	min-width:990px;
	margin-bottom: 30px;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:flex-start;
	background-color:#e6e6e6;
	position:relative;
	div.sk-col1 {
		width:190px;
		height:260px;
		background-color:#fff;
	}
	div.sk-col2 {
		width:600px;
		height:260px;
		background-color:#fff;
		border-left:1px solid black;
		border-right:1px solid black;
	}
	div.sk-col3 {
		width:200px;
		height:260px;
		background-color:#fff;
		position:relative;
	}
	//秒杀
	div.elevator-list {
		position:absolute;
		z-index: 100;
		width:58px;
		height: 420px;
		font-size: 0.37333rem;
		left: 50%;
		margin-left: 14rem;

		display: flex;
		flex-direction: column;
		justify-content: flew-start;
		align-items:center;
		a {
			display:block;
			background-color:$white;
			width:58px;
			height:58px;
			margin:0;
			padding:0px;
			
			span {
				display: block;
				font-size: 14px;
				margin:0;
				padding:11px 15px;

			}
			& ~ a {
				border-top:1px solid #eeeeee;   //linear-gradient(to right,white,black 50%,white)
			}

			&:hover {
				background-color:$deep-red;
				color:$white;
			}

		}
	}
}
a#toTop {
	display: none;
	color:$red;
	&:hover {
		color:$white;
	}
}

//-----------------------
div.choice {
	min-width: 990px;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:flex-start;
	background-color:#e6e6e6;
	div.ch-col1 {
		width:490px;
		height:345px;
		margin-right: 10px;
		background-color:#fff;
	}
	div.ch-col2 {
		width:490px;
		height:345px;
		background-color:#fff;
	}

}


